    <div class="footer_bottom_area">
      <div class="footer_menu">
        <ul id="f_menu">
          <li><a href="#">Trending</a></li>
          <li><a href="#">World</a></li>
          <li><a href="#">Pittsburgh</a></li>
          <li><a href="#">Politics</a></li>
          <li><a href="#">Tech</a></li>
          <li><a href="#">Entertainment</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Science</a></li>
          <li><a href="#">Opinion</a></li>
        </ul>
      </div>
      <div class="copyright_text">
        <p>Copyright &copy; 2017 GeNews. All rights reserved.</p>
      </div>
    </div>