      <div class="logo floatleft"><a href="#"><%= image_tag("logo.png") %></a></div>
      <div class="top_menu floatleft">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Reliability Index</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>