        <div class="right_column floatright">
          <div class="single_right_column">
            <h2 class="title"> Trending Now</h2>
            <ul>
              <li>
                <div class="single_cat_right_content">
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>
                  <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>
                  <p class="single_cat_right_content_meta"><a href="#"><span>read more</span></a> 3 hours ago</p>
                              <div class="rating-circle-text">
              6.2
            </div>
                </div>
              </li>
              <li>
                <div class="single_cat_right_content">
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>
                  <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>
                  <p class="single_cat_right_content_meta"><a href="#"><span>read more</span></a> 3 hours ago</p>
                              <div class="rating-circle-text">
              7.8
            </div>
                </div>
              </li>
              <li>
                <div class="single_cat_right_content">
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>
                  <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>
                  <p class="single_cat_right_content_meta"><a href="#"><span>read more</span></a> 3 hours ago</p>
                              <div class="rating-circle-text">
              8.2
            </div>
                </div>
              </li>
            </ul>
            <a class="popular_more" href="#">more</a> </div>
          <div class="single_right_column">
            <h2 class="title">Pittsburgh News</h2>
            <div class="single_cat_right_content editorial"> <a href="#"><%= image_tag("editorial_img.png") %>
              <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
                          <div class="rating-circle-text">
              8.2
            </div>
            </div>
            <div class="single_cat_right_content editorial"> <a href="#"><%= image_tag("editorial_img.png") %>
              <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
                          <div class="rating-circle-text">
              9.7
            </div>
            </div>
            <div class="single_cat_right_content editorial"> <a href="#"><%= image_tag("editorial_img.png") %>
              <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
                          <div class="rating-circle-text">
              6.3
            </div>
            </div>
            <div class="single_cat_right_content editorial"> <a href="#"><%= image_tag("editorial_img.png") %>
              <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
                          <div class="rating-circle-text">
              8.2
            </div>
            </div>
          </div>
        </div>